* {
    box-sizing: border-box;
    font-family: sans-serif, bold;
  }
  body {
	background-color: lightseagreen                                                                                                                                                                                                                                                                                                                                                         ;
}

h1 {
	color: red;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
}

.nav-item {
	font-size: 2rem;
}